  .container { width: 500px; height:500px; position: relative;}
        .box {
            width: 100px;
            height: 100px;
            background-color: red;
            font-size: 20px;
           /* position:absolute;*/
            padding: 5px;
        }
        .box:hover {
            
            background-color: blue;
            color: yellow;
            font-size: 18px;
           /* position:absolute;*/
            
            
            
        }
        .ex01 .box {
            
            transform: translate(10px, 10px);
            transition:transform 0.75s;

        }

         .ex01 .box:hover {
            
            transform: translate(500px, 120px) scale(0.5) rotate(270deg);

            
        }
        .ex02 .box {
            
            transform: translate(10px, 20px);
            transition:transform 0.75s;
        }

        .ex02 .box:hover {
            transform: translate(500px, -120px) scale(0.5) rotate(270deg);
            
            
        }

        .ex03 .box {
            transform: translate(10px, 30px);
            transition:transform 0.75s;
        }

        .ex03 .box:hover {
     
            transform: translate(500px, 120px) scale(0.5) rotate(270deg);
           
        }
        .ex04 .box {
             transform: translate(10px, 40px);
            transition:transform 800ms;
            
        }

       .ex04 .box:hover {
          
            transform: translate(500px, -120px) scale(0.5) rotate(270deg);
            
        }


      

