body {

	font-family: Arial, Helvetica, Sans-serif;
	font-size: 12pt;

}

ul {

	margin:0;
	padding:0;
	list-style:none;
}

.header
{

	background-color: #000;
	color: white;
	padding: 1em;
	height: 1px;
	transition-property:height;
	transition-duration: 0.2s;
	transition-timing-function: linear;
}

.header li{

	
	margin: 1em;
	text-align:center;
	padding:0em;
	
	

	

}

.header:hover {

	height: 100%;
}