li a{

	outline-style: none;
	color: red;

}


li:hover a {

	background-color: #CC0000;
	color: #fff;
}



a:visited li {

	
	color: #ccc;
	text-decoration: none;
}

a:active{ color: #000000; text-decoration: none}